---
title: iooikos jobs
layout: default
bodyClass: page-home
---
<!--<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Jobs @ iooikos</h1>
        <p>
          	text1
        </p>
      </div>
      <div class="col-12 col-md-6 page-jobs-list">
      </div>
    </div>
  </div>
</div>-->

<div class="intro pb-4">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h1>iooikos jobs</h1>
          <p>P1</p>
          <p>P2</p>  
          <p>P3</p>
        </div>
        <div class="col-lg-7 image-holder">
        </div>
      </div>
    </div>
  </div>
</div>

{%- if site.jobs.size > 0 -%}
<ul class="container jobs jobs-list">
	{%- for jobs in site.jobs -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="jobs-meta">
			<a class="jobs-link" href="{{ jobs.url | relative_url }}">
				<h2 class="jobs-title">{{ jobs.title | escape }}</h2>
			</a>
			<div class="jobs-date"><i class="icon-calendar"></i>{{ jobs.date | date: date_format }}</div>
		</div>
		<div class="jobs">
			{%- if site.show_excerpts -%}
			{{ jobs.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}



<!--<div class="container pb-6">
  <div class="row">
    {% for jobs in site.jobs %}
    <div class="col-12 col-md-6 mb-1">
      <div class="jobs jobs-summary">
        {% if jobs.image %}
        <div class="jobs-image">
          <img
            alt="{{ jobs.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ jobs.image }}"
          />
        </div>
        {% endif %}
        <div class="jobs-meta">
          <h2 class="jobs-name">{{ jobs.title }}</h2>
          <p class="jobs-description">{{ jobs.jobtitle }}</p>
          {% if jobs.linkedinurl %}
          <a target="_blank" href="{{ jobs.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="jobs-content">{{ jobs.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>-->

