---
title: Team
layout: default
---
<!-- bodyClass: page-team-list -->

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Our Team</h1>
        <p>
          Our team is here to help your business at any stage of your growth.
        </p>
        <p>With years of experience in countless IT transition projects, we’re ready to take your business to the next level. At iooikos, we combine our insights and Know-How to transform your projects, processes, strategies, and in turn your company</p>
        <p>We’re proud to help shape how leading companies structure and manage their business today with state-of-the-art Solutions and Strategies</p>
      </div>
      <div class="col-12 col-md-6 page-team-list">
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
