.post-wrap {
	.container.post-header {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
	.post-date {
		color: gray;
		.icon-calendar {
			margin-right: 6px;
		}
	}

	.post-tags {
		list-style-type: none;
		padding: 0;
		li {
			display: inline-block;
			padding: 10px 20px;
			background-color: #dee2e6;
			color: #000;
			margin: 5px;
			border-radius: 2px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.posts.post-list {
	margin-top: 3rem;
	margin-bottom: 2rem;
	list-style: none;
	// list-style-type: none;
	padding: 0;
	>li {
		margin-bottom: 30px;
		padding-bottom: 20px;
		&:not(:last-child) {
			border-bottom: 1px solid #dee2e6;
		}
	}
}